*.map
*.ts
!wxapi.WXEntryActivity.android.ts
!*.d.ts
tsconfig.json
scripts/*
!scripts/postinstall.js
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar